apiVersion: v1
kind: Service
metadata:
  name: control-plane
  labels:
    app.kubernetes.io/component: control-plane
spec:
  type: ClusterIP
  ports:
    - port: 8080
      targetPort: http
      protocol: TCP
      name: http
    - port: 9090
      targetPort: metrics
      protocol: TCP
      name: metrics
  selector:
    app.kubernetes.io/component: control-plane
