apiVersion: v1
kind: Service
metadata:
  name: autoscaler
  labels:
    app.kubernetes.io/component: autoscaler
spec:
  type: ClusterIP
  ports:
    - port: 8081
      targetPort: http
      protocol: TCP
      name: http
    - port: 9090
      targetPort: metrics
      protocol: TCP
      name: metrics
  selector:
    app.kubernetes.io/component: autoscaler
